<form action='/pirates' method='post'>
  
  <h1>Pirate</h1>
  
  Name: <input type="text" name="pirate[name]">
  
  Weight: <input type="text" name="pirate[weight]">
  
  Height: <input type="text" name="pirate[height]">
  
  <h1>Ship 1</h1>
  
  Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  
  Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  
  Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  
  <h1>Ship 2</h1>
  
  Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  
  Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  
  Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  
  <h3>Depart?</h3>
  
  <input type="submit" id="Submit" value="YAR">
  
</form>